// COLORS

$color-primary: 							#2D3C48;
$color-secondary: 							#7D97AD;
$color-accent: 								#02B3E4;
$color-test: 								red;
$color-test2: 								green;

$color-white: 								#ffffff;


// MIXINS

// Auto center
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

// Media queries
$breakpoints: (
    "phone":        						400px,
    "phone-wide":   						480px,
    "phablet":      						560px,
    "tablet-small": 						640px,
    "tablet":       						768px,
    "laptop":		  						1024px,
    "desktop":      						1248px,
    "desktop-wide": 						1440px
);

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// --------------------------------------------------------------------------------------------------------------



body 											{ background: $color-white; }

.container 										{ width: 70%; height: 100vh; margin: 0 auto; background: inherit;
	@include mq(laptop, min)  					{ width: 90%; margin-left: auto; margin-right: auto; }


// HEADER

	.top 										{ width: 100%; height: 200px; background: inherit; border-bottom: 2px solid $color-secondary; margin-bottom: 25px;
		img 									{ float: left; margin: 70px 0 0 0; width: 150px;}
		&__head										{ float: right; margin-top: 50px;
			> h1 								{ font-size: 3em; font-weight: 100; margin-bottom: 5px;	}
			> p 								{ font-size: 2em; float: right; margin: 0; } 
		}
	}


// MAIN

	.content									{ background: inherit; 
		@include mq('laptop', max)  			{ height: 400px; }
		> img 									{ width: 100%; }
	}

// SECTION

	.footer__bar 									{

		>h2										{ color: $color-secondary }
		.bottom 								{ display: flex; justify-content: space-between; align-items: center; 
			@include mq('laptop', max) 			{ flex-wrap: wrap;}		

			&__article 							{ flex: 1 1 100%; margin: 10px auto 20px auto;
				> img 							{ width: 100%; background: white; margin: 0 auto; display: block; }
				> h2							{ text-align: center; }
				> a 							{ display: block; text-align: center; text-decoration: none; color: $color-primary }

				&:first-child 					{ margin-left: 0; } 
				
				&:last-child 					{ margin-right: 0; }

			}
		}
	}
}



